<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/drawing/drawing-detail.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <title>상세보기</title>
</head>

<body>
<div id="__next">
    <div>
        <!-- 헤더 -->
        <div>

        </div>
        <!-- 중단부 -->
        <div class="py-[16px] px-[16px]">
            <main
                    class="flex flex-col relative max-w-main min-w-screen min-w-[320px] w-full mx-auto surface_primary">
                <!-- 상단 제목 -->
                <h3 class="font_headline_bold_md content_primary mt-[12px] mb-[18px]">제목</h3>

                <!-- 프로필 메뉴 -->
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-x-[10px] whitespace-nowrap">
                        <div>
                            <a href="">
                                <div
                                        class="relative shrink-0 rounded-full shadow-[inset_0_0_0_1px_rgba(0,0,0,0.1)] main-profile">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div>
                                <a href="" class="font_label_bold_md content_secondary">닉네임</a>
                            </div>
                            <div class="mt-[2px] flex items-center">
                                <a href="" class="font_label_regular_sm content_quaternary flex items-center">
                                    <span>3시간 전</span>
                                    <span> ｜ </span>
                                    <span>조회수 9</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 중간 내용 부분 -->
                <div class="mt-[24px] pt-[32px] border-t border_secondary">
                    <div class="steadio-post steadio-post-detail">
                        <p>내용이 없습니다.</p>
                    </div>
                    <div class="md:w-[380px]">
                        <div style="height: 32px;"></div>
                    </div>
                </div>

                <!-- 프로필 표시 부분 -->
                <section
                        class="flex flex-col flex-wrap gap-[12px] items-center border_secondary border-t-[1px] py-[32px] relative">
                    <div>
                        <button
                                class="border_black_opacity box-border border-[0.8px] w-[60px] h-[60px] rounded-full overflow-hidden shadow-[inset_0_0_0_1px_rgba(0,0,0,0.1)] relative">
                                <span class="profile-image">
                                    <img src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F304fb2f4-e314-4074-bdf4-e18d2ddbdee4%2FprofileImage%2F315cd6ee-37ca-4d83-b71b-ff6f3d8279e3.jpeg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75"
                                         style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center center;">
                                </span>
                        </button>
                    </div>
                    <div>
                        <div class="flex flex-col gap-[4px] px-[40px]">
                            <button class="font_title_bold_lg text-center">닉네임</button>
                            <p class="md:w-[404px] text-center font_label_regular_md content_quaternary break-all">
                                프로필 소개 내용</p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-[8px] items-center whitespace-nowrap">
                        <div class="relative flex font_label_bold_lg h-[32px] mx-auto">
                            <button type="button"
                                    class="flex justify-center items-center w-full h-full font-bold rounded-full px-[16px] surface_primary border-[1px] border_black_opacity">
                                <div class="flex items-center justify-center">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px" class="mr-[4px] shrink-0">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3a1 1 0 0 0-1 1v7H4a1 1 0 1 0 0 2h7v7a1 1 0 1 0 2 0v-7h7a1 1 0 1 0 0-2h-7V4a1 1 0 0 0-1-1Z"></path>
                                    </svg>
                                    <div>관심</div>
                                </div>
                            </button>
                        </div>
                    </div>
                </section>

                <div class="border-t border_primary"></div>
                <div style="height: 28px;"></div>

                <!-- 댓글 -->
                <div>
                    <h4 class="font_headline_bold_sm content_secondary">댓글</h4>
                    <div style="height: 24px;"></div>
                    <div class="border border_primary rounded-[8px]">

                        <button type="button" class="w-full p-[12px] flex items-center gap-[16px] inputtext">
                            <div class="w-[32px] h-[32px]">
                                <div class="relative w-full h-full rounded-full flex items-center justify-center">
                                        <span class="my-profil-image">
                                            <img src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F4ce0f981-f4ed-448b-a5d3-e8ac754fcd26%2FprofileImage%2F354c3731-9609-43f5-b3d2-dbe0be835849.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75"
                                                 class="my-profil-image-shape rounded-full" alt="">
                                        </span>
                                    <div></div>
                                </div>
                            </div>
                            <span class="font_label_regular_lg content_disabled">댓글을 작성해주세요...</span>
                        </button>

                        <div class="p-[16px] input">
                            <div class="flex gap-[10px]">
                                <div class="w-[32px] h-[32px]">
                                    <div
                                            class="relative w-full h-full rounded-full flex items-center justify-center">
                                            <span class="profile-image-background-style">
                                                <img src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2F4ce0f981-f4ed-448b-a5d3-e8ac754fcd26%2FprofileImage%2F354c3731-9609-43f5-b3d2-dbe0be835849.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75"
                                                     alt="" class="profile-image-input rounded-full">
                                            </span>
                                    </div>
                                </div>
                                <div class="flex gap-[4px] items-center">
                                    <div class="font_label_bold_lg content_primary">내 이름</div>
                                </div>
                            </div>
                            <div style="height: 12px;"></div>
                            <div class="h-full flex flex-col">
                                <label class="flex flex-grow shrink-0 ">
                                        <textarea placeholder="댓글을 작성해주세요..." id="text-count"
                                                  class=" changcolor w-full h-[48px] max-h-[88px] px-[20px] py-[14px] rounded-[8px] border-solid outline-none font_body_regular_md content_secondary placeholder:font_body_regular_md placeholder:content_disabled disabled:surface_tertiary disabled:border_black_opacity px-[20px] border-[2px] border_black_opacity focus:border_accent_active surface_primary disabled:content_disabled"
                                                  style="overflow: hidden; resize: none;"></textarea>
                                </label>
                            </div>
                            <div style="height: 18px;"></div>
                            <div class="flex justify-end gap-[10px]">
                                <button type="button"
                                        class="cancle relative flex justify-center items-center font_button_bold_md h-[32px] rounded-[16px] content_secondary surface_primary border border-solid border_black_opacity hover:surface_tertiary hover:border_secondary active:surface_tertiary active:border_secondary disabled:surface_primary disabled:border_black_opacity disabled:border disabled:border-solid px-[15px]  false disabled:content_disabled">
                                    취소
                                </button>
                                <button type="button" id="target-button"
                                        class="relative flex justify-center items-center font_button_bold_md h-[32px] rounded-[16px] content_primary_inverse surface_accent hover:surface_accent_active active:surface_accent_active disabled:surface_disabled px-[16px]  false disabled:content_disabled"
                                        disabled>
                                    등록
                                </button>
                            </div>
                        </div>

                    </div>
                    <div style="height: 33px;"></div>
                    <div class="pt-[15px] pb-[8px] flex flex-col items-center gap-[8px]">
                        <p class="font_title_bold_lg content_secondary">댓글이 없습니다.</p>
                        <p class="font_label_regular_xl content_quaternary">첫 댓글을 남겨보세요.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/css/drawing/drawing-detail.js"></script>

</html>