<!DOCTYPE html>
<html lang="en" class="h-full" xmlns:th="http://www.thymeleag.org">
<head>
    <link rel="stylesheet" href="/css/member/public.css" />
    <link rel="stylesheet" href="/css/member/find-password.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authopia</title>
    <link rel="shortcut icon"
          href="/image/logo-short-cut.png">
</head>
<body class="h-full">
<!-- 전체 -->
<div id="__next">
    <div class="h-full min-h-screen flex">
        <!-- 왼쪽 전체 -->
        <div class="w-[100%] py-[40px] flex flex-col items-center lg:w-[55%] lg:py-[56px]">
            <!-- 뒤로가기 -->
            <div class="px-[32px] w-full lg:px-[40px]">
                <button
                        type="button"
                        class="relative flex justify-center items-center font_button_bold_md h-[48px] rounded-[24px] content_secondary surface_tertiary hover:surface_primary_active active:surface_primary_active disabled:surface_disabled px-[20px] min-w-[88px] disabled:content_disabled"
                        onclick="location.href='/member/find-password'"
                >
                    <div class="flex items-center justify-center">
                        <svg viewBox="0 0 17 16" height="16px" widht="16px" class="mr-[4px] shrink-0">
                            <path
                                    d="M13.833 8a.667.667 0 0 0-.666-.667H5.72L8.973 4.08a.667.667 0 1 0-.943-.943L3.167 8l4.863 4.863a.665.665 0 0 0 .94-.94L5.72 8.667h7.447A.667.667 0 0 0 13.833 8Z"
                            ></path>
                        </svg>
                        <div>뒤로</div>
                    </div>
                </button>
            </div>
            <section
                    class="mt-[76px] px-[32px] w-full min-w-[320px] max-w-[400px] flex flex-col items-center lg:mt-[52px] lg:mx-auto"
            >
                <!-- 제목 -->
                <h1 class="font_display_bold_sm">비밀번호 찾기</h1>
                <!-- 페이지 2 -->
                <div class="page w-full">
                    <div class="mt-[24px]">
                        <!-- 보내기 성공 -->
                        <div class="w-full p-[16px] relative mx-auto rounded-[8px] flex surface_positive_light">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="mr-[4px] h-[16px] w-[16px] shrink-0 content_positive_active">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.959 12.041c-.023 5.5-4.5 9.94-10 9.918-5.5-.023-9.94-4.5-9.918-10 .023-5.5 4.5-9.94 10-9.918 5.5.023 9.94 4.5 9.918 10Zm-4.893-1.92a.896.896 0 0 0-1.268-1.268l-4.539 4.54-2.668-2.585a.896.896 0 1 0-1.247 1.288l3.935 3.811 5.787-5.786Z"></path>
                            </svg>
                            <div class="flex flex-col items-start">
                                <strong class="mb-[4px] font_label_bold_lg content_primary">인증메일 발송 완료</strong>
                                <p class="font_body_regular_md content_secondary">
                                    <span class="font_label_bold_md" th:text="${session.memberEmail}"></span>으로 비밀번호 재설정 링크를 발송했습니다. 메일을 확인해주세요.
                                </p>
                            </div>
                        </div>
                        <!-- 메일이 오지않을 경우 -->
                        <p class="mt-[24px] font_body_regular_md content_secondary text-center keep-all">메일이 오지 않을 경우 스팸 메일로 분류되어 있을 수 있으니, 스팸 메일 보관함을 확인해 주세요.</p>
                        <!-- 로그인 버튼 -->
                        <div class="mt-[40px]">
                            <button
                                    type="button"
                                    class="relative flex justify-center items-center font_button_bold_md h-[48px] rounded-[8px] content_primary_inverse surface_primary_inverse hover:surface_primary_inverse_active active:surface_primary_inverse_active disabled:surface_disabled px-[20px] w-full min-w-[88px] disabled:content_disabled"
                                    onclick="location.href='/member/login'"
                            >
                                로그인
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- 오른쪽 전체 -->
        <div class="hidden lg:block lg:w-[45%]">
            <div class="relative h-full surface_tertiary">
            <span
                    style="
                box-sizing: border-box;
                display: block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: absolute;
                inset: 0px;
              "
            >
              <img
                      src="https://www.steadio.co/_next/image?url=https%3A%2F%2Fsteadio-asset.s3.ap-northeast-2.amazonaws.com%2Fstatic%2Fimages%2Fintro%2Fsteadio-intro-03.jpg&w=1920&q=75"
                      sizes="100vw"
                      style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                  object-fit: cover;
                  object-position: center center;
                "
              />
            </span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</html>
