*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    tab-size: 4;
    font-family: Pretendard;
}

body {
    margin: 0;
    line-height: inherit;
}

div {
    display: block;
}

audio, canvas, embed, iframe, img, object, svg, video {
    vertical-align: middle;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

[type=button], [type=reset], [type=submit], button {
    background-color: transparent;
    background-image: none;
}

button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.h-\[148px\] {
    height: 148px;
}

.relative {
    position: relative;
}

.surface_primary {
    background-color: #fff;
}

.top-background {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}

.background-style {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bg-\[rgba\(0\2c 0\2c 0\2c 0\.2\)\] {
                                background-color: rgba(0,0,0,.2);
                            }

.absolute {
    position: absolute;
}

.max-w-mobile {
    max-width: 500px;
}

.mt-\[-44px\] {
    margin-top: -44px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.pt-\[105px\] {
    padding-top: 105px;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.profile-image {
    background: url("https://steadio.imgix.net/profiles/cac1d408-9bae-4a98-9abb-f051f7884f07/profileImage/18a57b47-4a5e-4aea-9695-1ace70b320c5.jpg?auto=format%2Ccompress&h=300&lossless=true&w=300") center center / cover no-repeat, rgb(255, 255, 255);
}

.drop-shadow-\[0px_4px_10px_rgba\(0\2c 0\2c 0\2c 0\.08\)\] {
                                                      --tw-drop-shadow: drop-shadow(0px 4px 10px rgba(0,0,0,.08));
                                                  }

.border-\[4px\] {
    border-width: 4px;
}

.rounded-\[50\%\] {
    border-radius: 50%;
}

.w-\[88px\] {
    width: 88px;
}

.h-\[88px\] {
    height: 88px;
}

.box-border {
    box-sizing: border-box;
}

.mb-\[16px\] {
    margin-bottom: 16px;
}

.top-0 {
    top: 0;
}

.absolute {
    position: absolute;
}

.border_white {
    border-color: #fff;
}

.flex-col {
    flex-direction: column;
}

.max-w-\[404px\] {
    max-width: 404px;
}

.text-center {
    text-align: center;
}

.mb-\[6px\] {
    margin-bottom: 6px;
}

.font_headline_bold_sm {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.mb-\[12px\] {
    margin-bottom: 12px;
}

.font_label_regular_md {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.font_label_bold_lg {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.px-\[24px\] {
    padding-left: 24px;
    padding-right: 24px;
}

.break-all {
    word-break: break-all;
}

.font_label_regular_xl {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
}

.gap-\[8px\] {
    gap: 8px;
}

.flex-row {
    flex-direction: row;
}

.mt-\[12px\] {
    margin-top: 12px;
}

.h-\[40px\] {
    height: 40px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.font_label_bold_lg {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.font-bold {
    font-weight: 700;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.border-\[1px\] {
    border-width: 1px;
}

.rounded-full {
    border-radius: 9999px;
}

.justify-center {
    justify-content: center;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.surface_primary {
    background-color: #fff;
}

.py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.flex-col {
    flex-direction: column;
}

.max-w-main {
    max-width: 720px;
}

.min-w-\[320px\] {
    min-width: 320px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.surface_primary {
    background-color: #fff;
}

.justify-around {
    justify-content: space-around;
}

.border-b-\[1px\] {
    border-bottom-width: 1px;
}

.h-\[43px\] {
    height: 43px;
}

.box-border {
    box-sizing: border-box;
}

.font_label_bold_xl {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.border_primary {
    border-color: #e6e6e7;
}

.content_disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.h-\[1\.6px\] {
    height: 1.6px;
}

.bottom-\[-1px\] {
    bottom: -1px;
}

.surface_secondary_inverse {
    background-color: #333334;
}

.left-\[0\] {
    left: 0;
}

.justify-between {
    justify-content: space-between;
}

.mb-\[20px\] {
    margin-bottom: 3px;
}

.first\:mt-\[0\]:first-child {
    margin-top: 0;
}

.max-w-main {
    max-width: 720px;
}

.border_primary {
    border-color: #e6e6e7;
}

.gap-\[2px\] {
    gap: 2px;
}

.font_label_medium_lg {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.gap-x-\[10px\] {
    column-gap: 10px;
}

.profile-image-style {
    width: 18px;
    height: 18px;
    background: url("https://steadio.imgix.net/profiles/cac1d408-9bae-4a98-9abb-f051f7884f07/profileImage/18a57b47-4a5e-4aea-9695-1ace70b320c5.jpg?auto=format%2Ccompress&h=300&lossless=true&w=300") center center / cover no-repeat, rgb(255, 255, 255);
}

.font_label_bold_md {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}

.mt-\[2px\] {
    margin-top: 2px;
}

.font_label_regular_sm {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.text-left {
    text-align: left;
}

.mt-\[16px\] {
    margin-top: 16px;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
}

.font_title_bold_lg {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.overflow-hidden {
    overflow: hidden;
}

.mt-\[8px\] {
    margin-top: 8px;
}

.text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
}

.font_label_regular_xl {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.my-\[16px\] {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ml-\[4px\] {
    margin-left: 4px;
}

.ml-\[10px\] {
    margin-left: 10px;
}

.gap-y-\[12px\] {
    row-gap: 12px;
}

.py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.border-t {
    border-top-width: 1px;
}

.border_secondary {
    border-color: #f3f3f4;
}

.block {
    display: block;
}

.gap-x-\[16px\] {
    column-gap: 16px;
}

.xl\:h-auto {
    height: auto;
}

.break-all {
    word-break: break-all;
}

.xl\:font_title_bold_lg {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.overflow-hidden {
    overflow: hidden;
}

.text-ellipsis-1, .text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

.xl\:mt-\[6px\] {
    margin-top: 6px;
}

.xl\:text-ellipsis-2 {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
}

.mb-\[18px\] {
    margin-bottom: 18px;
}

.font_label_regular_lg {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.mt-\[12px\] {
    margin-top: 12px;
}

.gap-x-\[2px\] {
    column-gap: 2px;
}

.ml-\[6px\] {
    margin-left: 6px;
}

.lg\:max-w-full {
    max-width: 100%;
}

.line-clamp-1, .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
}

.shrink-0 {
    flex-shrink: 0;
}

.mr-\[4px\] {
    margin-right: 4px;
}