/* 전체 틀 */

body {
    margin: 0;
    line-height: inherit;
}

#__next {
    min-height: 100%;
}

/* 왼쪽 전체*/
.lg\:py-\[56px\] {
    padding-top: 56px;
    padding-bottom: 56px;
}

.lg\:w-\[55\%\] {
    width: 55%;
}

/* 뒤로 가기 */
.lg\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
}

.rounded-\[24px\] {
    border-radius: 24px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

/* 본문 파트 */
.lg\:mt-\[52px\] {
    margin-top: 52px;
}

.lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    flex-direction: column;
}

/* 비밀번호 찾기 */
.font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

/* 상세 설명 */
.text-center {
    text-align: center;
}

.keep-all {
    word-break: keep-all;
}

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

/* 이메일 */
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

.border-\[1px\] {
    border-width: 1px;
}

.rounded-\[8px\] {
    border-radius: 8px;
}

.font_label_bold_md {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}

.border_black_opacity {
    border-color: rgba(0, 0, 0, 0.1);
}

.surface_primary {
    background-color: #fff;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* 비밀번호 재설정 링크 받기 */
.rounded-\[8px\] {
    border-radius: 8px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}


/* 페이지 2 */
/* 초록색 박스 */
.md\:w-\[404px\] {
    width: 404px;
}

.surface_positive_light {
    background-color: #ecf9f2;
}

/* 체크 모양 */
.shrink-0 {
    flex-shrink: 0;
}

.content_positive_active {
    color: #16a471;
    fill: #16a471;
}

/* 인증메일 발송 완료 */
.font_label_bold_lg {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}


/* 오른쪽 전체 */
.lg\:w-\[45\%\] {
    width: 45%;
}

.lg\:block {
    display: block;
}

.surface_tertiary {
    background-color: #f3f3f4;
}
