/* 전체 틀 */

body {
    margin: 0;
    line-height: inherit;
}

#__next {
    min-height: 100%;
}

/* 왼쪽 전체*/
.lg\:py-\[56px\] {
    padding-top: 56px;
    padding-bottom: 56px;
}

.lg\:w-\[55\%\] {
    width: 55%;
}

/* 뒤로 가기 */
.lg\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
}

.rounded-\[24px\] {
    border-radius: 24px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}

.surface_tertiary {
    background-color: #f3f3f4;
}

.shrink-0 {
    flex-shrink: 0;
}

/* 로그인 전체 */
.lg\:mt-\[52px\] {
    margin-top: 52px;
}

.lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-col {
    flex-direction: column;
}

/* 제목(로그인) */
.font_display_bold_sm {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

/* 이메일 */
.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

.border-\[1px\] {
    border-width: 1px;
}

.rounded-\[8px\] {
    border-radius: 8px;
}

.font_label_bold_md {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}

.surface_primary {
    background-color: #fff;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* 비밀번호 */

/* 로그인 */
.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

/* 계정이 없으신가요? */

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.border_primary {
    border-color: #e6e6e7;
}

.lg\:mx-\[18px\] {
    margin-left: 18px;
    margin-right: 18px;
}

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.content_secondary {
    color: #333334;
    fill: #333334;
}
/* 카카오로 로그인, 이메일로 로그인 */
.gap-y-\[12px\] {
    row-gap: 12px;
}

.flex-col {
    flex-direction: column;
}

/* 카카오로 로그인 */

.bg-\[\#FFEA2B\] {
    background-color: rgb(255 234 43);
}

.rounded-\[8px\] {
    border-radius: 8px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

/* 이메일로 시작하기 */

.border {
    border-width: 1px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.surface_primary {
    background-color: #fff;
}

/* 비밀번호를 잊으셨나요? */

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* 비밀번호 찾기 */
.font_label_bold_lg {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.content_accent {
    color: #5b44ea;
    fill: #5b44ea;
}



/* 오른쪽 전체 */
.lg\:w-\[45\%\] {
    width: 45%;
}

.lg\:block {
    display: block;
}

.surface_tertiary {
    background-color: #f3f3f4;
}

