html {
    line-height: 1.5;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


/* h */
.h-0 {
    height: 0;
}

.h-\[12px\] {
    height: 12px;
}

.h-\[16px\] {
    height: 16px;
}

.h-\[20px\] {
    height: 20px;
}

.h-\[48px\] {
    height: 48px;
}

.h-full {
    height: 100%;
}

.min-h-screen {
    min-height: 100vh;
}

/* w */
.w-0 {
    width: 0;
}

.w-\[12px\] {
    width: 12px;
}

.w-\[16px\] {
    width: 16px;
}

.w-\[20px\] {
    width: 20px;
}

.w-full {
    width: 100%;
}

.min-w-\[88px\] {
    min-width: 88px;
}

.max-w-\[96px\] {
    max-width: 96px;
}

.min-w-\[320px\] {
    min-width: 320px;
}

.max-w-\[400px\] {
    max-width: 400px;
}

/* p */
.p-\[16px\] {
    padding: 16px;
}

.p-\[20px\] {
    padding: 20px;
}

/* px */
.px-\[19px\] {
    padding-left: 19px;
    padding-right: 19px;
}

.px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
}

.px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
}

/* pb */
.pb-\[16px\] {
    padding-bottom: 16px;
}

/* mt */
.mt-\[8px\] {
    margin-top: 8px;
}

.mt-\[16px\] {
    margin-top: 16px;
}

.mt-\[20px\] {
    margin-top: 20px;
}

.mt-\[24px\] {
    margin-top: 24px;
}

.mt-\[28px\] {
    margin-top: 28px;
}

.mt-\[40px\] {
    margin-top: 40px;
}

/* mb */
.mb-\[4px\] {
    margin-bottom: 4px;
}

.mb-\[8px\] {
    margin-bottom: 8px;
}

.mb-\[40px\] {
    margin-bottom: 40px;
}

/* mr */
.mr-\[4px\] {
    margin-right: 4px;
}

.mr-\[8px\] {
    margin-right: 8px;
}

/* ml */
.ml-\[8px\] {
    margin-left: 8px;
}

.ml-\[12px\] {
    margin-left: 12px;
}

/* 이름 그대로 css */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.border-solid {
    border-style: solid;
}

/* 태그 특성 */
* {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
    background-color: transparent;
    background-image: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    text-transform: none;
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}


/* input태그 테두리 정상 */
.border_black_opacity {
    border-color: rgba(0, 0, 0, 0.1);
}

/* 비정상 */
.border_negative_active {
    border-color: #eb4545;
}

/* 오류사항 출력 */
.none {
    display: none;
}

.content_negative {
    color: #de2c2c;
    fill: #de2c2c;
}

.font_label_regular_sm {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}